@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  background-color: black;
}

.movie{
  border-radius: 10px;
}


.movie:hover{
  position: relative;
  transform: scale(1.1);
  transition: all 1s ease;
  z-index: 3;
  cursor: pointer;
  
}

#buttons p:hover{
  opacity: 0.7;
  transition: all 0.5s ease;
  text-decoration-line: underline;
}

